@model VxTel.Site.Domain.DTO.ProdutoDTO

<div>
    <div class="row">
        <h2>Details</h2>
    </div>

    <div class="row">
        <div class="table-responsive-sm col-8">
            <fieldset>
                <legend>Produto</legend>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group col-2">
                    <label asp-for="Id" class="col-form-label"></label>
                    <input asp-for="Id" type="text" class="form-control text-center" placeholder="" readonly="" />
                </div>

				<div class="form-group">
					<label asp-for="Nome" class="col-form-label"></label>
					<input asp-for="Nome" type="text" class="form-control" placeholder="" readonly="" />
				</div>
					
				<div class="form-group col-3">
					<div class="form-group">
						<label asp-for="TempoContratado" class="col-form-label"></label>
					</div>
					<div class="btn-group">
						<span class="input-group-text">HH:MM</span>
						<input asp-for="TempoContratado" type="time" class="form-control text-center" readonly="" />
					</div>
				</div>
					
				<div class="form-group col-2">
					<div class="form-group">
						<label asp-for="PercentualAcrescimo" class="col-form-label"></label>
					</div>
					<div class="btn-group">
						<span class="input-group-text">%</span>
						<input asp-for="PercentualAcrescimo" type="text" class="form-control text-center" readonly="" />
					</div>
				</div>
					
				<div class="form-group col-3">
					<div class="form-group">
						<label asp-for="Valor" class="col-form-label"></label>
					</div>
					<div class="btn-group">
						<span class="input-group-text">$</span>
						<input asp-for="Valor" type="text" class="form-control text-center" readonly="" />
					</div>
				</div>

                <div class="form-group mt-4">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="Index" class="btn btn-light">Back to List</a>
                </div>

            </fieldset>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
